**Importing Dependencies**

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [6]:
#Loading dataset to pd dataframe
creditcard_data = pd.read_csv(r'C:\Users\saish\OneDrive\Desktop\Shristi_Projects\creditcard.csv')

In [7]:
creditcard_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [8]:
creditcard_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284801,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284802,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284803,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284804,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284805,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [9]:
#info
creditcard_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284806 entries, 0 to 284805
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284806 non-null  float64
 1   V1      284806 non-null  float64
 2   V2      284806 non-null  float64
 3   V3      284806 non-null  float64
 4   V4      284806 non-null  float64
 5   V5      284806 non-null  float64
 6   V6      284806 non-null  float64
 7   V7      284806 non-null  float64
 8   V8      284806 non-null  float64
 9   V9      284806 non-null  float64
 10  V10     284806 non-null  float64
 11  V11     284806 non-null  float64
 12  V12     284806 non-null  float64
 13  V13     284806 non-null  float64
 14  V14     284806 non-null  float64
 15  V15     284806 non-null  float64
 16  V16     284806 non-null  float64
 17  V17     284806 non-null  float64
 18  V18     284806 non-null  float64
 19  V19     284806 non-null  float64
 20  V20     284806 non-null  float64
 21  V21     284806 non-null  float64
 22  V22     284806 non-null  float64
 23  V23     284806 non-null  float64
 24  V24     284806 non-null  float64
 25  V25     284806 non-null  float64
 26  V26     284806 non-null  float64
 27  V27     284806 non-null  float64
 28  V28     284806 non-null  float64
 29  Amount  284806 non-null  float64
 30  Class   284806 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [10]:
#checking for missing values in each columns
creditcard_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [11]:
#real and fraud transaction
creditcard_data['Class'].value_counts()

0    284314
1       492
Name: Class, dtype: int64

**Unbalanced Data**

**0-real transaction
1-fraud transaction**

In [12]:
#separating data for Analysis
real=creditcard_data[creditcard_data.Class == 0]
fraud=creditcard_data[creditcard_data.Class == 1]

In [13]:
print(real.shape)
print(fraud.shape)

(284314, 31)
(492, 31)

In [14]:
real.Amount.describe()

count    284314.000000
mean         88.291078
std         250.105530
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [15]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [16]:
#comparing values
creditcard_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.367189,0.008261,-0.006274,0.012168,-0.007860,0.005452,0.002419,0.009634,-0.000989,0.004470,...,-0.000644,-0.001236,-0.000026,0.000070,0.000183,-0.000071,-0.000088,-0.000295,-0.000131,88.291078
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

**Under Sampling**

In [17]:
real_sample = real.sample(n=492)

In [18]:
#concatenating two sample dataframes
new_dataset=pd.concat([real_sample,fraud],axis=0)

In [19]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
14233,25287.0,1.290821,-0.604220,0.472395,-0.687556,-0.811677,-0.116378,-0.651596,0.063931,-0.919053,...,0.065632,0.202102,0.006814,0.043757,0.385003,-0.291647,0.023619,0.004856,22.35,0
135083,81101.0,-0.842342,0.720842,1.386462,-1.104034,-0.107364,-0.365886,0.526719,0.153761,0.669073,...,-0.063990,0.203550,-0.116610,0.153105,-0.197164,0.935985,0.407459,0.233813,10.00,0
195532,131100.0,-0.623607,-0.051439,0.388287,0.343683,-0.060624,0.306123,1.076251,-0.092279,0.263062,...,0.384369,1.226160,0.458378,0.565006,-1.089135,-0.815970,0.293934,0.278719,224.00,0
170623,120276.0,-1.117004,-0.707503,1.599741,-2.259913,-0.565109,0.022480,0.547168,0.024339,-1.076035,...,0.527873,0.956144,0.041615,0.680064,0.815523,-0.063268,-0.059114,0.076985,216.00,0
212251,138781.0,-1.498803,-5.819069,-4.006916,1.814679,-1.394157,-0.159709,2.545234,-0.690608,0.868728,...,0.818103,-1.559908,-1.527545,-0.811009,-0.658059,-0.234692,-0.351791,0.294651,1854.18,0

In [20]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279862,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280142,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280148,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281143,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281673,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [21]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [22]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,97886.140244,0.121045,0.072464,-0.036705,0.023357,0.003258,-0.036680,-0.035599,-0.045170,0.026942,...,-0.011360,0.030062,-0.010499,0.001413,-0.012933,-0.003613,0.004934,-0.032817,0.010832,78.272337
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

**Splitting data into Features and targets**

In [23]:
X= new_dataset.drop(columns='Class',axis=1)
Y= new_dataset['Class']

In [24]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
14233    25287.0  1.290821 -0.604220  0.472395 -0.687556 -0.811677 -0.116378
135083   81101.0 -0.842342  0.720842  1.386462 -1.104034 -0.107364 -0.365886
195532  131100.0 -0.623607 -0.051439  0.388287  0.343683 -0.060624  0.306123
170623  120276.0 -1.117004 -0.707503  1.599741 -2.259913 -0.565109  0.022480
212251  138781.0 -1.498803 -5.819069 -4.006916  1.814679 -1.394157 -0.159709
...          ...       ...       ...       ...       ...       ...       ...
279862  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280142  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280148  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281143  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281673  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
14233  -0.651596  0.063931 -0.919053  ...  0.087846  0.065632  0.202102
135083  0.526719  0.153761  0.669073  ...  0.049153 -0.063990  0.203550
195532  1.076251 -0.092279  0.263062  ... -0.158382  0.384369  1.226160
170623  0.547168  0.024339 -1.076035  ...  0.631734  0.527873  0.956144
212251  2.545234 -0.690608  0.868728  ...  3.586005  0.818103 -1.559908
...          ...       ...       ...  ...       ...       ...       ...
279862 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280142 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280148 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281143 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281673  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28   Amount
14233   0.006814  0.043757  0.385003 -0.291647  0.023619  0.004856    22.35
135083 -0.116610  0.153105 -0.197164  0.935985  0.407459  0.233813    10.00
195532  0.458378  0.565006 -1.089135 -0.815970  0.293934  0.278719   224.00
170623  0.041615  0.680064  0.815523 -0.063268 -0.059114  0.076985   216.00
212251 -1.527545 -0.811009 -0.658059 -0.234692 -0.351791  0.294651  1854.18
...          ...       ...       ...       ...       ...       ...      ...
279862  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968   390.00
280142 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637     0.76
280148  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361    77.89
281143 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700   245.00
281673 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309    42.53

[984 rows x 30 columns]

In [25]:
print(Y)

14233     0
135083    0
195532    0
170623    0
212251    0
         ..
279862    1
280142    1
280148    1
281143    1
281673    1
Name: Class, Length: 984, dtype: int64

**Splitting data into Training and Testing Data**

In [26]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y, test_size=0.2, stratify= Y, random_state=2)

In [27]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

**Model Training**
### Logistic Regression

In [28]:
model=LogisticRegression(max_iter=1000)

In [29]:
# training Logistic Regression Model with training data
model.fit(X_train,Y_train)

LogisticRegression(max_iter=1000)

**Model Evaluation**

**Accuracy Score**

In [30]:
#accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy= accuracy_score(X_train_prediction,Y_train)

In [31]:
print('Accuracy on training data= ',training_data_accuracy)

Accuracy on training data=  0.9135959339263025

In [32]:
#accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [33]:
print('Accuracy on test data= ',test_data_accuracy)

Accuracy on test data=  0.9187817258883249